body {
    margin: 0;
    padding: 0;
    background: #7371FC;
    font-family: Arial, sans-serif;
}

/* USERNAME LEFT */
.username {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* SEARCH INPUT */
.search-container input {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}

/* PLUS BUTTON */
#createBtn {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 12px;
    border-radius: 15px;
    transition: 0.2s;
    background: white;
    color: #7371FC;
}

#createBtn:hover {
    transform: scale(1.1);
}

/* PAGE TITLE */
.center {
    text-align: center;
    font-size: 55px;
    margin-top: 10px;
}

/* POST CARD */
.post {
    width: 60%;
    background: white;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.post img {
    width: 220px;
    height: auto;
    border-radius: 10px;
}

/* TEXT AREA */
.post .post-content {
    width: 100%;
}

.meta {
    color: gray;
    margin-bottom: 8px;
}

.reactions {
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.reactions span {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* POPUP */
#popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#popupBox {
    background: #7371FC;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    color: white;
}

#popupBox input,
#popupBox textarea {
    width: 100%;
    margin-bottom: 12px;
    background: white;
    color: black;
    border-radius: 6px;
    padding: 6px;
}

#popupBox button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #7371fc;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

/* HEADER CLOUD BAR */
header {
    width: 100%;
    height: 250px; /* adjust as needed */
    background-image: url("/static/cloud.png");
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TOP LEFT USERNAME */
.username {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* TOP RIGHT BUTTONS */
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
