body {
    margin: 0;
    padding: 0;
    background: #7371FC;
    font-family: Arial, sans-serif;
}

/* TOP BAR */
.topbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.right-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}

/* PLUS BUTTON */
#createBtn {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.2s;
    background: white;
    color: #7371FC;
}

#createBtn:hover {
    transform: scale(1.15);
}

/* CLOUD BAR */
.cloudbar {
    width: 100%;
    height: 230px;
    background-image: url("/static/cloud.png");
    background-repeat: repeat-x;
    background-size: auto 230px;
}

/* PAGE TITLE */
.center {
    text-align: center;
    font-size: 55px;
    margin-top: 10px;
}

/* POST CARD */
.post {
    width: 60%;
    background: white;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.post img {
    width: 220px;
    border-radius: 10px;
}

/* POPUP */
#popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

#popupBox {
    background: #7371FC;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    color: white;
}

#popupBox input,
#popupBox textarea {
    width: 100%;
    margin-bottom: 12px;
    background: white;
    color: black;
    border-radius: 6px;
    padding: 6px;
}

#popupBox button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #5a56e8;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}
