#popupOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popupBox {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#popupBox input,
#popupBox textarea {
    width: 100%;
    margin-bottom: 12px;
}

#popupBox button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #7c7cf8;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}
